.button__cancel {
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 20px;
  width: 50px;
  transition: all 0.5s;
  margin: 5px;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button__cancel:hover {
  color: brown;
}
