.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 1fr minmax(500px, auto) 1fr;
}
