* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #000000;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #534191 0px,
    #534191 300px,
    black 300px,
    black 100%
  );
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100%;
  color: #ffffff;
}
